/* Mulish font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;1,400&display=swap');

* {
    font-family: 'Mulish', sans-serif;
    max-width: 1440px;
}
/*header styles*/
header{
    background: #FFF;
    padding: 52px 135px;
}
nav{
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 36px;
    font-weight: 800;
    color: #131318;
    display: flex;
}
nav > ul{
    display: flex;
    padding-left: 807px;
}
nav li{
    list-style: none;
    margin-right: 44px;
    font-weight: 400;
    font-size: 18px;
}
nav li a{
    text-decoration: none;
    color: #424247;
}
/*banner styles*/
.banner{
    width: 1170px;
    height: 500px;
    padding-top: 49px;
    padding-left: 35px;
    padding-right: 135px;
}
.btn-1{
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    padding-left: 16px;
    padding-right: 84px;
}
.btn-2{
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    padding-left: 15px;
    padding-right: 113px;
}
.btn-3{
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    padding-left: 15px;
    padding-right: 74px;
}
.btn-4{
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    padding-left: 64px;
    padding-right: 34px;
}
.banner img{
    width: 100%;
}

/*responsive mobile styles*/
@media screen and (max-width: 576px) {
   header{
    padding: 20px;
    max-width: 335px;
   }
   nav {
    flex-direction: column;
   }
   .banner {
    width: 335px;
   }
   nav > ul {
    width: 24px;
    height: 24px;
    padding-left: 10px;
   }
}
