/* Mulish font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;1,400&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}
/*header styles*/
header{
    background: #FFF;
    padding: 52px 135px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 36px;
    font-weight: 800;
    color: #131318;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 44px;
    font-weight: 400;
    font-size: 18px;
}
nav li a{
    text-decoration: none;
    color: #424247;
}
/*banner styles*/

.btn-1{
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    padding-left: 16px;
    padding-right: 84px;
}
.btn-2{
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    padding-left: 15px;
    padding-right: 113px;
}
.btn-3{
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    padding-left: 15px;
    padding-right: 74px;
}
.btn-4{
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    padding-left: 64px;
    padding-right: 34px;
}